@font-face {
    font-family: 'Simpsonfont';
    font-style: normal;
    font-weight: normal;
    src: url('simpsonfont-webfont.woff2') format('woff2'),
         url('simpsonfont-webfont.woff') format('woff');
};

@font-face {
  font-family: 'Impactfont';  
  font-style: normal;
  src: url('impact-webfont.woff2') format('woff2'),
       url('impact-webfont.woff') format('woff');
    font-weight: normal;
}

.simpson-font {
    font-family: 'Simpsonfont';
}

  .impact-font {
    font-family: 'Impactfont';
}

* {
    transition: all 0.3s;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.selected {
    border-color: #FFD90F !important;
    border-width: 4px !important;
}
